@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

.top {
    display: flex;
    justify-content: start;
}

.top h1{
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    padding: 1rem;
    margin: 0;
    color: #23a2f6;
}

.dash {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dash h2 {
    font-size: 3rem;
    color: #23a2f6;
    text-decoration: underline;
    text-decoration-color: #23a2f6;
}

.dash_btm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.username {
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 1rem 20rem;
}

.button {
    margin-top: 50px;
    width: 100%;
    background-color: #23a2f6;
    color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border-color: #23a2f6;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: #fff;
    color: rgba(12, 12, 13, 0.904);
    border-color: #23a2f6;
}

.button_add {
    background-color: #23a2f6;
    color: #fff;
    padding: 7px 30px;
    margin: 0.5rem 20rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.button_add:hover {
    background-color: #fff;
    color: rgba(12, 12, 13, 0.904);
}

.actions .action_button {
    background-color: #23a2f6;
    color: #fff;
    padding: 7px 30px;
    margin: 1rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.actions .action_button:hover {
    background-color: #fff;
    color: rgba(12, 12, 13, 0.904);
}

.actions #approve a{
    margin: 0 3rem;
}

.dash .data {
    height: 40vh;
    width: 89vw;
    margin: 4rem 2rem;
    background-color: #d2d2d2;
    border-radius: 10px;
}

.file_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.meta_data {
    margin: 2rem;
}

.actions {
    display: flex;
    align-items: center;
}

.file_item .actions .button {
    margin: 0 3rem;
}

.file_item .actions .del .button:hover {
    background-color: #ca2200;
    box-shadow: 0px 15px 20px #ff6161;
    color: #fff;
    transform: translateY(-7px);
}

.meta_data h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
}